body {
    background-image: url("Images/theme.jpg");

}

.login-box {
    float: left;
}

    .login-box .username {
        color: #A4C55C;
    }

.shopping-cart {
    float: left;
}

    .shopping-cart img {
        height: 30px;
    }

