body {
    background-image: url("Images/theme.jpg");

}

.login-box {
    padding-top: 10px;
    float: left;
}

.shopping-cart {
    float: left;
}

    .shopping-cart img {
        height: 30px;
    }