<?xml version="1.0"?>
<connectionStrings>
  <add 
    name="SilverZone"
    connectionString ="metadata=res://*/Data.SilverZone.csdl|res://*/Data.SilverZone.ssdl|res://*/Data.SilverZone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SilverZone;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add
    name="SilverZoneMembership"
    connectionString="Data Source=.;Initial Catalog=SilverZone;Integrated Security=SSPI "
  />
  </connectionStrings>




































