<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="IProductsContainer" type="SilverZone.Domain.Products.IProductsContainer, SilverZone.Domain" />
    <typeAlias alias="IProductRepository" type="SilverZone.Domain.Products.IProductRepository, SilverZone.Domain" />
  </typeAliases>

  <containers>
    <container>
      <types>
        <type type="IProductsContainer" mapTo="SilverZone.Domain.Products.ProductsContainer, SilverZone.Domain">
          <lifetime type="singleton"/>
        </type>
        <type type="IProductRepository" mapTo="SilverZone.Domain.Impl.Products.ProductRepository, SilverZone.Domain.Impl">
          <lifetime type="singleton"/>
        </type>
      </types>
    </container>
  </containers>

</unity>
