<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity configSource ="App_Config\Unity.config"/>
  
  <appSettings configSource="App_Config\AppSettings.config"/>
  
  <connectionStrings configSource ="App_Config\ConnectionStrings.config"/>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/Accounts/Default.aspx" protection="Validation" timeout="300"/>
    </authentication>
    <membership defaultProvider="SqlMembershipProvider" >
      <providers>
        <clear/>
        <add
            name = "SqlMembershipProvider"
            type = "System.Web.Security.SqlMembershipProvider"
            connectionStringName = "SilverZoneMembership"
            applicationName = "MembershipAndRoleProviderSample"
            minRequiredPasswordLength="3"
            requiresQuestionAndAnswer = "false"
            requiresUniqueEmail = "true"
            passwordFormat = "Hashed"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
